<% if (parties.length < 1) { %>
  <p>
    No pokémon parties have been created yet
  </p>
<% } else { %>
  <h1>
    All parties
  </h1>
  <% if (partyIds.length < 1) { %>
    <div class="party-space">
      <p class="center padded-top greyed">
        - No parties have been created yet -
      </p>
    </div>
  <% } %>
  <% partyIds.forEach((partyId, i) => { %>
    <% let publicPrivateText = `${parties[partyId].public ? 'public' : 'private'}` %>
    <div class="row">
      <div class="tight-fit">
        <a class="poketilea" href="/profile/parties/<%= partyId %>">
          <div class="poketilediv">
            <div class="inlineitem">
              <p class="no-line-height text-black taglabel">
                TITLE
              </p>
              <p class="no-line-height poketilep"><%= parties[partyId].name %> (<%= publicPrivateText %>)</p>
              <% if (parties[partyId].pokemon.length < 1) { %>
                <p class="no-line-height center empty">
                  - empty party -
                </p>
              <% } %>
              <% parties[partyId].pokemon.forEach(poke => { %>
                <% let dexNo = `${10 > (poke.dex) ? `00${poke.dex}` : 100 > (poke.dex) ? `0${poke.dex}` : poke.dex}` %>
                <img src="https://www.serebii.net/pokedex-xy/icon/<%= dexNo %>.png" alt="<%= poke.nickname %> sprite">
              <% }) %>
              <% if (parties[partyId].desc) { %>
                <p class="no-line-height text-black taglabel">
                  DESCRIPTION
                </p>
                <p class="no-line-height text-black"><%= parties[partyId].desc %></p>
              <% } %>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% }) %>
<% } %>
