<div class="container">
  <% if (ownsInParty.length > 6) { %>
    <div class="center reminder">
      <p>
        A friendly reminder: the max size of an in-game Pokémon party is six! Don't forget to pare yours down.
      </p>
      <p>
        Current party size: <%= ownsInParty.length %>
      </p>
    </div>
  <% } %>
  <h4 class="nomargin-bottom greyed-light">
    Party details:
  </h4>
  <h1 class="nomargin-top">
    <%= party.name %>
  </h1>
</div>

<div class="party-space">
  <% if (dexesInfo.length > 0) { %>
    <table>
      <tr class="row-title">
        <th>Pokémon</th>
        <th>Move</th>
        <th>Type</th>
        <th>Pow.</th>
        <th>Categ.</th>
        <th>PP</th>
        <th>Acc.</th>
      </tr>
      <% dexesInfo.forEach((eachOwn, i) => { %>
        <% let dexNo = `${10 > (eachOwn.dexId) ? `00${eachOwn.dexId}` : 100 > (eachOwn.dexId) ? `0${eachOwn.dexId}` : eachOwn.dexId}` %>
        <% let lightOrDark = `${i % 2 === 0 ? 'even' : 'odd'}` %>
        <% let isBench = `${i > 5 ? '-bench' : ''}` %>
        <% let fullTableRowClass = 'row-' + lightOrDark + isBench %>
        <% var iconUrl = `https://www.serebii.net/pokedex-xy/icon/${dexNo}.png` %>
        <tr class="<%= fullTableRowClass %>">
          <% if (ownMoves[eachOwn.id] && ownMoves[eachOwn.id].length > 0) { %>
            <td rowspan="<%= ownMoves[eachOwn.id].length %>" class="table-cell-center">
          <% } else { %>
            <td rowspan="4" class="table-cell-center">
          <% } %>
            <a href="/profile/pokemon/<%= eachOwn.id %>">
              <div class="fill-cell">
                <% if(eachOwn.nickname) { %>
                  <div class="poke-name">
                    <% if (eachOwn.nickname.length > 15 && eachOwn.nickname.substring(0, 15).indexOf(' ') < 0) { %>
                      <p title="<%= eachOwn.nickname %>" class="nomargin-top nomargin-bottom">
                        <%= eachOwn.nickname.substring(0, 12) %>...
                      </p>
                    <% } else { %>
                      <p class="nomargin-top nomargin-bottom">
                        <%= eachOwn.nickname %>
                      </p>
                    <% } %>
                  </div>
                <% } %>
                <div class="poke-sprite">
                  <img src="<%= iconUrl %>" alt="">
                </div>
                <% dexTypeInfo[eachOwn.dexId].forEach((typeId, i) => { %>
                  <div class="nomargin nopadding inlineitem type">
                    <p class="nomarginpreset <%= types[typeId].name %>">
                      <%= types[typeId].name %>
                    </p>
                  </div>
                <% }) %>
                <div class="text-info">
                  <% if(eachOwn.profilename) { %>
                    <div class="poke-role">
                      <p class="nomargin-top">
                        <%= eachOwn.profilename %>
                      </p>
                    </div>
                  <% } %>
                </div>
              </div>
            </a>
          </td>
          <% if (ownMoves[eachOwn.id] && ownMoves[eachOwn.id].length > 0) { %>
            <% ownMoves[eachOwn.id].forEach((moveId, i) => { %>
              <% if (i < 0) { %>
                <tr class="<%= fullTableRowClass %>">
                  <td></td>
              <% } %>
                <td class="<%= fullTableRowClass %>">
                  <p>
                    <%= moves[moveId].name %>
                  </p>
                </td>
                <td class="<%= types[moves[moveId].typeId].name %> table-cell-center">
                  <div class="nomargin nopadding inlineitem type">
                    <p class="nomarginpreset <%= types[moves[moveId].typeId].name %>">
                      <%= types[moves[moveId].typeId].name %>
                    </p>
                  </div>
                </td>
                <td class="<%= fullTableRowClass %> table-cell-right">
                  <p>
                    <%= moves[moveId].power %>
                  </p>
                </td>
                <td class="<%= fullTableRowClass %>">
                  <p>
                    <%= moves[moveId].category %>
                  </p>
                </td>
                <td class="<%= fullTableRowClass %> table-cell-right">
                  <p>
                    <%= moves[moveId].pp %>
                  </p>
                </td>
                <td class="<%= fullTableRowClass %> table-cell-right">
                  <p>
                    <%= moves[moveId].accuracy %>
                  </p>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <td class="table-cell-center" colspan="6" rowspan="4">- No moves -</td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          <% } %>
        </div>
      <% }) %>
    </table>
  <% } else { %>
    <p class="center padded-top greyed">
      - No pokémon have been added yet -
    </p>
    <div class="container">
      <blockquote>
        Note: To add pokémon, navigate to the pokémon you want to add from your profile and press "Add To Party" button
      </blockquote>
    </div>
    <p class="center padded-bottom">
      <a href="/search">Search pokédex now</a>
    </p>
  <% } %>
</div>
<div class="containre">
  <div class="center form-space">
    <h5 class="center monospace">options</h5>
    <% if (dexesInfo && dexesInfo.length > 1) { %>
      <form action="/profile/pokemon/remove-from-party?_method=DELETE" method="post">
        <input type="hidden" name="partyId" value="<%= party.id %>">
        <fieldset class="fieldset-del">
          <legend class="legend-del">REMOVE ONE FROM PARTY</legend>
          <select id="delete-poke" class="poke-options" name="ownId">
            <% dexesInfo.forEach((eachOwn, i) => { %>
              <option value="<%= eachOwn.id %>"><%= i + 1 %>. <%= eachOwn.nickname %></option>
            <% }) %>
          </select>
          <button class="btn-small waves-effect waves-light red" type="submit">
            <i class="material-icons">do_not_disturb_alt</i> REMOVE
          </button>
        </fieldset>
      </form>

      <hr class="hr-del">
    <% } %>

    <% if (dexesInfo && dexesInfo.length > 0) { %>
      <form action="/profile/party?_method=DELETE" method="post">
        <input type="hidden" name="partyId" value="<%= party.id %>">
        <input type="hidden" name="justClear" value="1">
        <button class="btn-small waves-effect waves-light red" type="submit">
          <i class="material-icons">flare</i> CLEAR ALL POKÉMON
        </button>
      </form>

      <hr class="hr-del">
    <% } %>

    <form action="/profile/party?_method=DELETE" method="post">
      <input type="hidden" name="partyId" value="<%= party.id %>">
      <input type="hidden" name="justClear" value="0">
      <button class="btn-small waves-effect waves-light red" type="submit">
        <i class="material-icons">delete</i> DELETE PARTY
      </button>
    </form>
  </div>
  <div class="container">
    <p class="center">
      <a href="/profile/parties">All parties</a>
    </p>
    <p class="center">
      <a href="/profile">Profile</a>
    </p>
  </div>
</div>
