<% if (ownsInParty.length > 6) { %>
  <div class="reminder">
    <p>
      A friendly reminder: the max size of an in-game Pokemon party is six! Don't forget to pair yours down.
    </p>
    <p>
      Current party size: <%= ownsInParty.length %>
    </p>
  </div>
<% } %>
<h4 class="nomargin-bottom greyed-light">
  Party details:
</h4>
<h1 class="nomargin-top">
  <%= party.name %>
</h1>
<div class="party-space">
  <% if (dexesInfo.length > 0) { %>
    <% dexesInfo.forEach((eachOwn) => { %>
      <% let dexNo = `${10 > (eachOwn.dexId) ? `00${eachOwn.dexId}` : 100 > (eachOwn.dexId) ? `0${eachOwn.dexId}` : eachOwn.dexId}` %>
      <% var iconUrl = `https://www.serebii.net/pokedex-xy/icon/${dexNo}.png` %>
      <div class=" ">
        <div class="col s12 m12 l12">
          <div class="top-info">
            <div class="poke-sprite">
              <img src="<%= iconUrl %>" alt="">
            </div>
            <div class="text-info">
              <div class="poke-no">
                <p class="nomargin-top nomargin-bottom">
                  no. <%= dexNo %>:
                </p>
              </div>
              <% if(eachOwn.nickname) { %>
                <div class="poke-name">
                  <p class="nomargin-top nomargin-bottom">
                    <%= eachOwn.nickname %>
                  </p>
                </div>
              <% } %>
              <% if(eachOwn.profilename) { %>
                <div class="poke-role">
                  <p class="nomargin-top">
                    <%= eachOwn.profilename %>
                  </p>
                </div>
              <% } %>
            </div>
          </div>
          <div class="card-action">
            <form action="/profile/pokemon/remove-from-party?_method=DELETE" method="post">
              <input type="hidden" name="ownId" value="<%= eachOwn.id %>">
              <input type="hidden" name="partyId" value="<%= partyId %>">
              <button class="btn waves-effect waves-light red" type="submit">
                <i class="material-icons">do_not_disturb_alt</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <p class="center padded-top greyed">
      - No pokémon have been added yet -
    </p>
    <div class="container">
      <blockquote>
        Note: To add pokémon, navigate to the pokémon you want to add from your profile and press "Add To Party" button
      </blockquote>
    </div>
    <p class="center padded-bottom">
      <a href="/search">Search pokédex now</a>
    </p>
  <% } %>
</div>
<div>
  <p class="center padded-top">
    <a href="/profile/parties">All parties</a>
  </p>
  <p class="center">
    <a href="/profile">Profile</a>
  </p>
</div>
