<h2>Details on <%= dexData.dataValues.nickname %></h2>

<img src="https://www.serebii.net/art/th/<%= dexData.dexId %>.png" alt="">

<div class="stats">
  <div class="side-by-side">
    <div class="stat name">
      HP
    </div>
    <div class="stat num">
      <%= dexData.dex.hp %>
    </div>
  </div>
  <div class="side-by-side">
    <div class="stat name">
      Att
    </div>
    <div class="stat num">
      <%= dexData.dex.attack %>
    </div>
  </div>
  <div class="side-by-side">
    <div class="stat name">
      Def
    </div>
    <div class="stat num">
      <%= dexData.dex.defense %>
    </div>
  </div>
  <div class="side-by-side">
    <div class="stat name">
      Spd
    </div>
    <div class="stat num">
      <%= dexData.dex.speed %>
    </div>
  </div>
  <div class="side-by-side">
    <div class="stat name">
      Sp A
    </div>
    <div class="stat num">
      <%= dexData.dex.spAttack %>
    </div>
  </div>
  <div class="side-by-side">
    <div class="stat name">
      Sp D
    </div>
    <div class="stat num">
      <%= dexData.dex.spDefense %>
    </div>
  </div>
</div>

<div class="dex-abilities">
  <% abilitiesData.forEach((ability) => { %>
    <div class="side-by-side">
      <div class="ability-name">
        <%= ability.name %>
      </div>
      <div class="ability-desc">
        <%= ability.desc %>
      </div>
    </div>
  <% }) %>
</div>

<div class="dex-moves">
  <% dexMoveData.forEach((knownMove, i) => { %>
    <div class="move-no <%= i + 1 %>">
      <div class="move-name">
        <%= knownMove.name %>
      </div>
      <div class="move-desc">
        <%= knownMove.desc %>
      </div>
      <div class="move-type">
        <%= knownMove.typeId %>
      </div>
      <div class="move-category">
        <%= knownMove.category %>
      </div>
      <div class="move-power">
        <%= knownMove.power %>
      </div>
      <div class="move-accuracy">
        <%= knownMove.accuracy %>
      </div>
      <div class="move-pp">
        <%= knownMove.pp %>
      </div>
      <div class="add-to-moveset">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  <% }) %>
</div>
