<h1>Your <%= pokeData.name %> profiles</h1>

<% if (!results[0]) { %>
  <p>None yet. Create?</p>
  <form action="/profile/poke/new" method="get">
    <input type="hidden" name="id" value="<%= pokeData.id %>">
    <input type="hidden" name="name" value="<%= pokeData.name %>">
    <button class="btn waves-effect waves-light" type="submit">
      <i class="material-icons">add</i> add new <%= pokeData.id %> <%= pokeData.name %>
    </button>
  </form>

<% } else { %>
  <p>All listed out:</p>
  <% results.forEach((indPoke, i) => { %>
    <div class="card">
      <div class="row">
        <div class="col">
          <p><%= indPoke.name %></p>
        </div>
        <div class="col">
          <p><%= indPoke.move1 %></p>
        </div>
        <div class="col">
          <p><%= indPoke.move2 %></p>
        </div>
        <div class="col">
          <p><%= indPoke.move3 %></p>
        </div>
        <div class="col">
          <p><%= indPoke.move4 %></p>
        </div>
      </div>
    </div>
  <% }) %>

<% } %>
