<h1>Pokédex Search Results</h1>
<% if (results.length > 0) { %>
  <% results.forEach((pokeData, i) => { %>
    <% let dexNo = `${10 > (pokeData.id) ? `00${pokeData.id}` : 100 > (pokeData.id) ? `0${pokeData.id}` : pokeData.id}` %>
    <% var iconUrl = `https://www.serebii.net/pokedex-xy/icon/${dexNo}.png` %>
    <div id="result-<%= pokeData.id %>" class="container tight-fit">
      <form action="/search/add-pokemon" method="post">
        <div class="inlineitem">
          <input type="hidden" name="dexName" value="<%= pokeData.name %>">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="inlineitem">
          <img src="<%= iconUrl %>" alt="<%= pokeData.name %> sprite">
        </div>
        <input type="hidden" name="dex" value="<%= pokeData.id %>">
        <input type="hidden" name="nickname" value="<%= pokeData.name %>">
        <div class="inlineitem">
          <p class="nomargin"><%= dexNo %> <%= pokeData.name %></p>
        </div>
      </form>
    </div>
  <% }) %>
<% } %>
